.section-item {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item {
    font-size: 3em;
    color: lightblue;
    text-transform: uppercase;
}